<div id="bckg">	</div>
<div id="main">
	<div id="chat-window">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 flexbox">
				<div id="chatrooms">
					<div class="inline-space">
					<div id="new_chat_plus" class="display-inline">
						<div>
						CHANNEL<%= @chatrooms.count != 1 ? "S" : ""%>  (<span value="100"><%= @chatrooms.count%></span>)
					</div>
					</div>
						<i id="plus_button" class="fa fa-plus-circle " aria-hidden="true"></i>
						<div>
					</div>
				</div>
					<% @chatrooms.each do |chatroom| %>
					<div class="channel-name">
						<%= link_to "#" + chatroom.name, chatroom_path(chatroom), remote: true %>
					</div>
					<% end %>
					<%= render 'form', chatroom: @chatroom %>
					<!-- <div id="new_chat_name"> -->
					<!-- </div> -->
				</div>
				</div>
				<div class="col-xs-8 rounded-border">
					<div class="row">
						<div id="chatboxes">
						</div>
					</div>
				</div>
				<div class="col-xs-8 col-xs-offset-3">
					<div class="row">
						<div class="message-input">
							<%= render 'posts/form', post: @post %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
