<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <!--  <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.css">
  <script type="text/javascript" src="js/jquery.emojipicker.js"></script>

  Emoji Data
  <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.a.css">
  <script type="text/javascript" src="js/jquery.emojis.js"></script> -->
</head>
<body>
  <div id="all">
    <%= render 'layouts/user_header' %>
    <%= yield %>
  </div>
</body>
</html>
