<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat</title>
	<%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.css">
	<script type="text/javascript" src="js/jquery.emojipicker.js"></script>

	Emoji Data
	<link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.a.css">
	<script type="text/javascript" src="js/jquery.emojis.js"></script> -->
</head>

<body>
	<div class="container-fluid">
		<%= render 'layouts/user_header' %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="col-centered center-devise">

					<%= yield %>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
